.cssh1 {
    font-size: 30px;
    color: #78B4C0;
} 
body{ 
    background-color: #e0f0f4;
    margin: 0; 
}
.navi{ 
    font-size: 21px;
    background-color: #78B4C0;
    padding: 10px; 
    margin: 0px;
    color: #6ba0c8;

    
}
.content { 
padding: 10px;
margin: 0px;
}