h1 {
    font-size: 30px;
    color: #437C90;
} 
body { 
    background-color: #e0f0f4;
    margin: 0; 
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
}
button {
    background: none;
    border: none;
    font-size: 20px; 
    font-family: Arial;
    font-weight: 400;
    font-style: normal;
    color:#4661CF ;
}

.navi { 
    font-size: 25px;
    background-color: #78B4C0;
    padding: 10px; 
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.content { 
padding: 10px;
margin: 0px;
color:  #437C90;
}