h1 {
    font-size: 30px;
    color: #2F9BC2;
} 

.home {
    display: flex;
    
}


.kontakt {
    display: none;

}

.kundenmeinungen {
    display: none;

}



body { 
    background-color: #e0f0f4;
    margin: 0; 
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
}
button {
    background: none;
    border: none;
    font-size: 20px; 
    font-family: Arial;
    font-weight: 400;
    font-style: normal;
    color:#2F9BC2 ;
}
button:hover {
    color: #5B85C2;

}
.navi { 
    font-size: 25px;
    background-color: #FBFBFB;
    padding: 10px; 
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.content {
    margin: 0px;
    color: #2F9BC2;
    display: flex;
    font-size: 20px;
}
.leftcontainer {
    padding: 20px;
}